<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HELPSTEIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <HELPSTEIN.Properties.Settings>
      <setting name="textBoxCompanyName" serializeAs="String">
        <value />
      </setting>
      <setting name="LabelCompany" serializeAs="String">
        <value>Компания:</value>
      </setting>
      <setting name="labelName" serializeAs="String">
        <value>Имя:</value>
      </setting>
      <setting name="labelPhone" serializeAs="String">
        <value>Телефон:</value>
      </setting>
      <setting name="labelEmail" serializeAs="String">
        <value>Email:</value>
      </setting>
      <setting name="groupBoxUrgency" serializeAs="String">
        <value>Приоритет:</value>
      </setting>
      <setting name="radioButton1" serializeAs="String">
        <value>неважно</value>
      </setting>
      <setting name="radioButton2" serializeAs="String">
        <value>важно</value>
      </setting>
      <setting name="radioButton3" serializeAs="String">
        <value>очень важно</value>
      </setting>
      <setting name="textBoxName" serializeAs="String">
        <value />
      </setting>
      <setting name="textBoxPhone" serializeAs="String">
        <value />
      </setting>
      <setting name="textBoxEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="labelType" serializeAs="String">
        <value>Тип обращения:</value>
      </setting>
      <setting name="telegramTokenSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="telegramChatIdSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="BotTelegramSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BitrixGROUP_ID" serializeAs="String">
        <value>23</value>
      </setting>
      <setting name="BitrixACCOMPLICES" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BitrixRESPONSIBLE_ID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BitrixACCOMPLICES_1" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="BitrixACCOMPLICES_2" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="BitrixACCOMPLICES_3" serializeAs="String">
        <value>17</value>
      </setting>
      <setting name="BitrixToSends" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TelegramToSends" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textBOXInvetoryPC" serializeAs="String">
        <value />
      </setting>
      <setting name="textBOXInvetoryMONITOR" serializeAs="String">
        <value />
      </setting>
      <setting name="textBOXInvetoryOther" serializeAs="String">
        <value />
      </setting>
      <setting name="TroubleTypes" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string>Прочее</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="getRamSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getCpuSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getDiskSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getOpSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getVideoSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getMotheboardSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getMonitorSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getNetworksSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getSoftSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getProcessSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getServicesSettigs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getPrinterSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getUserInfoSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="getTeamViewerSettings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailToSends" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExelinventoryToSends" serializeAs="String">
        <value>True</value>
      </setting>
    </HELPSTEIN.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>