<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings">
            <section name="HELPSTEIN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HELPSTEIN.Properties.Settings>
            <setting name="textBoxCompanyName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="TroubleTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string></string>
                        <string>Сеть</string>
                        <string>Доступы</string>
                        <string>Телефония</string>
                        <string>Выезд специалиста</string>
                        <string>Прочее</string>
                        <string>Переферийные Устройства</string>
                        <string>Проблема с почтой</string>
			            <string>Проблема с екселем</string>
			            <string>Проблема с вордом</string>
                        <string>Нету доступа к файлу</string>
                        <string>1c</string>
                        <string>Обновления медка</string>
			            <string>Нету места на диске</string>
                        <string>Не работает мишка или клавиатура</string>
			            <string>Прочее</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="textBoxName" serializeAs="String">
                <value></value>
            </setting>
            <setting name="textBoxPhone" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="getRamSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getCpuSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getDiskSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getOpSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getVideoSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getMotheboardSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getMonitorSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getNetworksSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getSoftSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getProcessSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getServicesSettigs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="getPrinterSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getUserInfoSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="getTeamViewerSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="telegramTokenSettings" serializeAs="String">
                <value>718077915:AAHc6eaS8GGZaSOYeQQ66Vu7Z-FMTBKCbJ0</value>
            </setting>
            <setting name="telegramChatIdSettings" serializeAs="String">
                <value>-328915940</value>
            </setting>
            <setting name="BotTelegramSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BitrixGROUP_ID" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="BitrixACCOMPLICES" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BitrixRESPONSIBLE_ID" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="BitrixACCOMPLICES_1" serializeAs="String">
                <value></value>
            </setting>
            <setting name="BitrixACCOMPLICES_2" serializeAs="String">
                <value>17</value>
            </setting>
            <setting name="BitrixACCOMPLICES_3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BitrixToSends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MailToSends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TelegramToSends" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExelinventoryToSends" serializeAs="String">
                <value>True</value>
            </setting>
            </HELPSTEIN.Properties.Settings>
    </userSettings>
</configuration>